body {
    padding:0;
    margin:0;
    border:0;
}


.container{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 300px;
    height: 350px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.quote p{
    margin-top: 35px;
    color: #e0e0e0;
    align-items: right;
    
}

.btn{
    height: 40px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: rgba(1, 184, 236);

}